<div {{ block.shopify_attributes }}>
	{%- if product != blank -%}
	{%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif

			assign product_template = product.template_suffix

			if product.metafields.theme.preorder and product.available
				assign product_template = 'pre-order'
			endif
    -%}
  <product-form class="product-form" data-section="{{ section.id }}" data-hide-errors="{{ gift_card_recipient_feature_active }}" template="{{ product_template }}">
		<div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
      {% render 'svg-icons' with 'thb-error' %}
      <span class="product-form__error-message"></span>
    </div>
		{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}


			<div class="product-quick-images--container">
			  	<div class="product-quick-images" id="MediaGallery-{{ section.id }}" data-hide-variants="{{ hide_variants }}">
						{%- if featured_media != null -%}
							{%- liquid
								assign image_index = image_index | plus: 1
								assign first_image = featured_media.preview_image

								if media_aspect_ratio == 'adapt'
									assign ratio = featured_media.preview_image.aspect_ratio
								endif

                assign alt = featured_media.preview_image.alt | split: '#' | first
							-%}
							<div
								id="Slide-{{ section.id }}-{{ featured_media.id }}"
								class="product-quick-images__slide product-images__slide--image is-active{% if hide_variants and variant_images contains featured_media.src %} product-images__slide-item--variant{% endif %}"
								data-media-id="{{ section.id }}-{{ featured_media.id }}"
							>
								<div class="product-single__media product-single__media-image" id="Slide-Thumbnails-{{ section.id }}-{{ featured_media.id }}" style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
									{%- render 'responsive-image', image: featured_media.preview_image, sizes: sizes, priority: 'high' -%}
								</div>
							</div>
						{%- endif -%}
			        {%- for media in product.media -%}
							  {%- liquid
                  if media.media_type == 'image'
                    assign image_index = image_index | default: 0 | plus: 1
                  endif
                  assign priority = false
                  if image_index == 0
                    assign first_image = media.preview_image
                    assign priority = 'high'
                  endif

                  
                  assign image_set = false
                  assign image_set_group = ''
                  if media.alt contains '#'
                    assign image_set_full = media.alt | split: '#' | last
                    if image_set_full contains '_'
                      assign image_set = true
                      assign image_set_group = image_set_full | split: '_' | first
                    endif
                  endif

                  assign alt = media.preview_image.alt | split: '#' | first
                -%}
			          <div
									id="Slide-{{ section.id }}-{{ media.id }}"
									class="product-quick-images__slide product-images__slide--{{ media.media_type }}{% if product.selected_or_first_available_variant.featured_media.id == media.id %} is-active{% endif %}{% if hide_variants and variant_images contains media.src %} product-images__slide-item--variant{% endif %}"
									data-media-id="{{ section.id }}-{{ media.id }}"
                  {% if image_set %}
                    data-set-name="{{ image_set_group }}"
                    data-group="{{ image_set_full }}"
                  {% endif %}
								>
									{%- case media.media_type -%}
										{% when 'image' %}
											{%- liquid
												if media_aspect_ratio == 'adapt'
													assign ratio = media.preview_image.aspect_ratio
												endif
											-%}
											<div class="product-single__media product-single__media-image" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}" style="max-width: {{ media.preview_image.width }}px; --padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
												{%- render 'responsive-image', image: media.preview_image, sizes: sizes, priority: priority -%}
											</div>
										{% when 'external_video' %}
											<div class="product-single__media product-single__media-external-video" data-provider="{{ media.host }}" data-media-id="{{ media.id }}" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}" style="--aspect-ratio: {{ media.aspect_ratio }}">
												{{ media | external_video_tag: loading: "lazy", loop: "0", muted: "1" }}
											</div>
										{% when 'video' %}
											<div class="product-single__media product-single__media-native-video" data-media-id="{{ media.id }}" style="--aspect-ratio: {{ media.aspect_ratio }}" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}">
												{{ media | video_tag: controls: true, loading: "lazy", image_size: '800x' }}
											</div>
										{% when 'model' %}
											<product-model class="product-single__media product-single__media-model" style="padding-top: 100%" data-media-id="{{ media.id }}" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}">
												<button id="Deferred-Poster-Modal-{{ media.id }}" class="product-single__media-model-button" type="button">
													{%- render 'svg-icons' with 'thb-icon-3d-model' -%}
												</button>
												{%- render 'responsive-image', image: media.preview_image, sizes: sizes -%}
												<template>
													{{ media | media_tag: image_size: "2048x", toggleable: true }}
												</template>
											</product-model>
											<button
											 class="button product__xr-button"
											 type="button"
											 data-shopify-xr
											 aria-label="{{ 'products.product.xr_button_label' | t }}"
											 data-shopify-model3d-id="{{ media.id }}"
											 data-shopify-xr-hidden
											 data-shopify-title="{{ product.title | escape }}"
											 >
											 <span>
												 {% render 'svg-icons' with 'thb-icon-3d-model' %}
												 {{ 'products.product.xr_button' | t }}
											 </span>
									 </button>
									{% endcase %}
			          </div>
			        {%- endfor -%}
			      </div>
				</div>


		<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
		{%- if gift_card_recipient_feature_active -%}
      {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
    {%- endif -%}
		<div class="product-add-to-cart-container">
			<div class="form-notification error" style="display:none;"></div>
		  <div class="add_to_cart_holder">
				{%- if block.settings.show_quantity_selector -%}
				<div
          id="quantity-{{ section.id }}"
          {{ block.shopify_attributes }}
        >
			    <quantity-selector class="quantity">
						<button class="minus" type="button" aria-label="{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}">
							{% render 'svg-icons' with 'minus' %}
						</button>
			      <input
							type="number"
							id="Quantity-{{ section.id }}"
							name="quantity"
							class="qty"
							value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
							min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
							{% if product.selected_or_first_available_variant.quantity_rule.max != null %}
	              max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
	            {% endif %}
							step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
							form="{{ product_form_id }}"
							aria-label="{{ 'products.product.quantity.input_label' | t: product: product.title | escape }}"
						>
						<button class="plus" type="button" aria-label="{{ 'products.product.quantity.increase' | t: product: product.title | escape }}">{% render 'svg-icons' with 'plus' %}</button>
			    </quantity-selector>
				</div>
				{%- endif -%}
		    <button type="submit" name="add" id="AddToCart" class="single-add-to-cart-button button_type2 outline {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
					<span class="single-add-to-cart-button--text">
						{%- liquid
							if product.selected_or_first_available_variant.available == false
								assign button_content = 'products.product.sold_out' | t
							else
								if product_template == 'pre-order'
									assign button_content = 'products.product.pre_order' | t
								else
									assign button_content = 'products.product.add_to_cart' | t
								endif
							endif
						-%}
						{{- button_content -}}
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.6895 11.25H3.75C3.55109 11.25 3.36032 11.329 3.21967 11.4696C3.07902 11.6103 3 11.8011 3 12C3 12.1989 3.07902 12.3896 3.21967 12.5303C3.36032 12.671 3.55109 12.75 3.75 12.75H17.6895L12.219 18.219C12.0782 18.3598 11.9991 18.5508 11.9991 18.75C11.9991 18.9491 12.0782 19.1401 12.219 19.281C12.3598 19.4218 12.5508 19.5009 12.75 19.5009C12.9492 19.5009 13.1402 19.4218 13.281 19.281L20.031 12.531C20.1008 12.4613 20.1563 12.3785 20.1941 12.2874C20.2319 12.1963 20.2513 12.0986 20.2513 12C20.2513 11.9013 20.2319 11.8036 20.1941 11.7125C20.1563 11.6214 20.1008 11.5386 20.031 11.469L13.281 4.71897C13.1402 4.57814 12.9492 4.49902 12.75 4.49902C12.5508 4.49902 12.3598 4.57814 12.219 4.71897C12.0782 4.8598 11.9991 5.05081 11.9991 5.24997C11.9991 5.44913 12.0782 5.64014 12.219 5.78097L17.6895 11.25Z" fill="#040404"/>
                        </svg> 
					</span>
					<span class="loading-overlay">
						{% render 'svg-icons' with 'thb-loading' %}
					</span>
				</button>
				{%- if show_dynamic_checkout -%}
		      {{ form | payment_button }}
		    {%- endif -%}
		  </div>
		</div>
		{%- endform -%}
	</product-form>
	{%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="single_add_to_cart_button button sold-out"
          disabled
        >
          <span class="single-add-to-cart-button--text">{{ 'products.product.sold_out' | t }}</span>
        </button>
      </div>
    </div>
  {%- endif -%}
	{%- if product != blank -%}
		{%- form 'product', product, id: 'product-form-installment', class: 'installment' -%}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
			{{ form | payment_terms }}
		{%- endform -%}
	{%- endif -%}
</div>
{%- if pickup -%}
{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
<pickup-availability
	class="pickup-availability-wrapper"
	{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
>
	{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
	{%- if pick_up_availabilities.size > 0 -%}
		{% render 'product-pickup-availability', pick_up_availabilities: pick_up_availabilities %}
	{% endif %}
</pickup-availability>
<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
