{{- 'about-us.css' | asset_url | stylesheet_tag -}}
<div class="about_us_wrapper">
  
  <div class="about_us_rectangle"></div>
  <div class="about_us_text_wrapper">
    <div class="faq_main_title_first h11 lh-l f_light">
      {{ block.settings.text_1 }}
    </div>
    <div class="faq_main_title_second h11 lh-l f_light">
      {{ block.settings.text_2 }}
    </div>
    <div class="faq_main_title_third h11 lh-l f_light">
      {{ block.settings.text_3 }}
    </div>
    <div class="faq_main_title_fourth h11 lh-l f_light">
      {{ block.settings.text_4 }}
    </div>
    <div class="faq_main_title_fifth h11 lh-l f_light">
      {{ block.settings.text_5 }}
    </div>
    <div class="faq_main_title_sixth h11 lh-l f_light">
      {{ block.settings.text_6 }}
    </div>
    <div class="faq_main_title_seventh h11 lh-l f_light">
      {{ block.settings.text_7 }}
    </div>

  </div>

</div>
{% schema %}
{
    "name": "About Us",
    "settings": [
      {
          "type": "richtext",
          "id": "text_1",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_2",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_3",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_4",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_5",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_6",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_7",
          "label": "Text",
          "default": "<p>Text text text.</p>"
      }
        ],
    "presets": [
      {
        "name": "About Us"
      }
    ]
}
{% endschema %}