{{- 'breadcrumbs.css' | asset_url | stylesheet_tag -}}
<scroll-shadow {% if template == 'article' %} class="not_mobile blog_padding"{% endif %}>
	<nav class="breadcrumbs" aria-label="breadcrumbs">
	  <a href="{{ routes.root_url }}" title="{{ 'sections.breadcrumbs.home' | t | escape }}">{{ 'sections.breadcrumbs.home' | t }}</a>
	  {% if collection.url %}
			<span>|</span>
			<a href="{{ routes.all_products_collection_url }}" title="{{ 'sections.breadcrumbs.shop' | t | escape }}">{{ 'sections.breadcrumbs.shop' | t }}</a>
	    <span>|</span>
	    <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
	  {% endif %}
		{% if template contains 'cart' %}
	    <span>|</span>
	    {{ 'sections.breadcrumbs.cart' | t }}
	  {% endif %}
	  {% if template contains 'product' %}
		<span>|</span>
		<a href="{{ routes.all_products_collection_url }}" title="{{ 'sections.breadcrumbs.shop' | t | escape }}">{{ 'sections.breadcrumbs.products' | t }}</a>
	    <span>|</span>
	    <div class="breadcrumbs-product_short_title">{{ product.metafields.custom.product_type }}</div>
	  {% endif %}
	  {% if template contains 'blog' %}
			{% if current_tags %}
				<span>|</span>
		    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
				<span>|</span>
				{{ current_tags }}
			{% else %}
				<span>|</span>
				{{ blog.title }}
			{% endif %}
	  {% endif %}
		{% if template contains 'article' %}
	    <span>|</span>
	    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
	    <span>|</span>
	    {{ article.title }}
	  {% endif %}
	  {% if template contains 'page' %}
	    <span>|</span>
	    {{ page.title }}
	  {% endif %}
		{% if template contains 'search' %}
	    <span>|</span>
	    {{ 'sections.breadcrumbs.search' | t }}
	  {% endif %}
		{% if template contains 'customers' %}
	    <span>|</span>
	    {{ 'sections.breadcrumbs.my_account' | t }}
	  {% endif %}
	</nav>
</scroll-shadow>
{% schema %}
{
	"name": "Breadcrumbs",
	"class": "section-breadcrumbs"
}
{% endschema %}
