{{- 'contact-us-text.css' | asset_url | stylesheet_tag -}}
<div class="about_us_wrapper contact_us-variation">
  
  <div class="about_us_left_line"></div>

  <div class="about_us_text_wrapper">
    {% if section.settings.text_2 != blank %}
        <div class="about_us_title_second h10 lh-l">
          {{ section.settings.text_2 }}
        </div>
      {% endif %}
    {% if section.settings.text_1 != blank %}
      <div class="about_us_title_first h11 lh-l f_medium">
        {{ section.settings.text_1 }}
      </div>
    {% endif %} 
    {% if section.settings.text_3 != blank %}
      <div class="about_us_title_third h11 lh-l f_light">
        {{ section.settings.text_3 }}
      </div>
    {% endif %}
    {% if section.settings.text_4 != blank %}
      <div class="about_us_title_fourth h11 lh-l f_light">
        {{ section.settings.text_4 }}
      </div>
    {% endif %}
    {% if section.settings.text_5 != blank %}
      <div class="about_us_title_fifth h11 lh-l f_light">
        {{ section.settings.text_5 }}
      </div>
    {% endif %}
    {% if section.settings.text_6 != blank %}
      <div class="about_us_title_sixth h11 lh-l f_light">
        {{ section.settings.text_6 }}
      </div>
    {% endif %}
    {% if section.settings.text_7 != blank %}
      <div class="about_us_title_seventh h11 lh-l f_light">
        {{ section.settings.text_7 }}
      </div>
    {% endif %}
    {% if section.settings.text_8 != blank %}
        <div class="about_us_title_eight h11 lh-l f_light">
          {{ section.settings.text_8 }}
        </div>
    {% endif %}
  </div>

  <div class="about_us_right_line"></div>

</div>
{% schema %}
{
    "name": "Contact Us text",
    "settings": [
      {
          "type": "richtext",
          "id": "text_2",
          "label": "Title",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_1",
          "label": "Text 1",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_3",
          "label": "Text 2",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_4",
          "label": "Text 3",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_5",
          "label": "Text 4",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_6",
          "label": "Text 5",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_7",
          "label": "Text 6",
          "default": "<p>Text text text.</p>"
      },
      {
          "type": "richtext",
          "id": "text_8",
          "label": "Text 7",
          "default": "<p>Text text text.</p>"
      }
        ],
    "presets": [
      {
        "name": "Contact Us text"
      }
    ]
}
{% endschema %}