{{ 'product-presentation.css' | asset_url | stylesheet_tag }}
<div class="product_description_wrapper">

    <div class="product_description_title">
        {% if section.settings.title %}
        <div class="product_description_main_title h3 lh-sm f_medium">
            {{ section.settings.title }}
            </div>
        {% endif %}

        {% if section.settings.subtitle %}
        <div class="product_description_subtitle h13 lh-sm f_regular">
            {{ section.settings.subtitle }}
        </div>
        {% endif %}
    </div>

    {%- if section.settings.image_mob != blank -%}
        <div class="product_description_image_mobile">
            {% assign image = section.settings.image_mob %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}
    
    {%- if section.settings.image_desktop != blank -%}
        <div class="product_description_image_desktop">
            {% assign image = section.settings.image_desktop %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}

    {%- if section.settings.button_text_arrow != "" -%}
        <a class="button_type1 h12 lh-sm f_regular" href="{{ section.settings.button_link }}">
            <span>{{ section.settings.button_text_arrow }}</span>
            {% render 'svg-icons' with 'button_arrow' %} 
        </a>
    {%- endif -%}
</div>
{% schema %}
{
    "name": "Product Presentation",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Subtitle"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Image for Mobile"
        },
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image for Desktop"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "text",
            "id": "button_text_arrow",
            "label": "Button text",
            "default": "Button text"
        }
    ],    
    "presets": [
          {
            "name": "Product Presentation"
          }
        ]
}
{% endschema %}  