{{- 'product-explanation.css' | asset_url | stylesheet_tag -}}
{%- liquid
    assign overlay_color = section.settings.overlay_color
    assign overlay_opacity = section.settings.overlay_opacity
-%}
<div class="product_explanation_wrapper">

    <div class="product_explanation_colors">
        <div class="product_explanation_upper" style="background-color: {{ section.settings.overlay_color_up }}; {{ overlay_opacity_up | divided_by: 100.0 }};"></div>
        <div class="product_explanation_lower" style="background-color: {{ section.settings.overlay_color_down }}; {{ overlay_opacity_down | divided_by: 100.0 }};"></div>
    </div>

    {%- if section.settings.image != blank -%}
        <div class="product_explanation_img">
            {% assign image = section.settings.image %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}

</div>
{% schema %}
    {
        "name": "Product Explanation",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
				"type": "color",
				"id": "overlay_color_up",
				"label": "Upper background color",
				"default": "#6D7E60"
			},
            {
				"type": "color",
				"id": "overlay_color_down",
				"label": "Lower background color",
				"default": "#FFFFFF"  
			},
			{
				"type": "range",
				"id": "overlay_opacity_up",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "%",
				"label": "Upper overlay opacity",
				"default": 70
			},
            {
				"type": "range",
				"id": "overlay_opacity_down",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "%",
				"label": "Lower overlay opacity",
				"default": 70
			}
        ],
        "presets": [
          {
            "name": "Product Explanation"
          }
        ]
    }
{% endschema %}  