{{ 'product-specification.css' | asset_url | stylesheet_tag }}
<div class="product_specification_wrapper">

    {% for block in section.blocks %}
        
        {% if block.settings.title %}
            <div class="product_specification_title_wrapper">
                <div class="product_specification_title h7 lh-l">
                    {{ block.settings.title }}
                    <div class="svg-arrow">{% render 'svg-icons' with 'thb-back-to-top' %}</div>
                </div>

                {% if block.settings.text-1 %}
                    <div class="product_specification_first h21 lh-sm f_medium">
                        {{ block.settings.text-1 }}
                    </div>
                {% endif %}

                {% if block.settings.text-2 %}
                    <div class="product_specification_second h16 lh-sm f_regular">
                        {{ block.settings.text-2 }}
                    </div>
                {% endif %}

                {% if block.settings.text-3 %}
                    <div class="product_specification_third h16 lh-sm f_regular">
                        {{ block.settings.text-3 }}
                    </div>
                {% endif %}

                {% if block.settings.text-4 %}
                    <div class="product_specification_fourth h12 lh-l f_regular">
                        {{ block.settings.text-4 }}
                    </div>
                {% endif %}

                {% if block.settings.text-5 %}
                    <div class="product_specification_fifth h12 lh-l f_regular">
                        {{ block.settings.text-5 }}
                    </div>
                {% endif %}
            </div>

        {% endif %}
    {% endfor %}    

</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const titleWrappers = document.querySelectorAll('.product_specification_title_wrapper');

    titleWrappers.forEach(wrapper => {
        wrapper.addEventListener('click', function() {
            // Toggle the display of each content section based on arrow direction
            const contentElements = this.querySelectorAll('.product_specification_first, .product_specification_second, .product_specification_third, .product_specification_fourth, .product_specification_fifth');
            const arrow = this.querySelector('.svg-arrow');

            if (arrow) {
                arrow.classList.toggle('rotated');  // Toggle arrow orientation
                const isArrowUp = arrow.classList.contains('rotated');

                contentElements.forEach(child => {
                    child.style.display = isArrowUp ? 'block' : 'none';
                });
            }
        });
    });
});
</script>
{% schema %}
    {
        "name": "Product specification",
        "settings": [
        ],
        "blocks": [
            {
                "type": "text",
                "name": "Text",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "title",
                        "label": "Title",
                        "default": "<p>Title</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "text-1",
                        "label": "Text 1",
                        "default": "<p>Text text text. Text text text text.</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "text-2",
                        "label": "Text 2",
                        "default": "<p>Text text text. Text text text text.</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "text-3",
                        "label": "Text 3",
                        "default": "<p>Text text text. Text text text text.</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "text-4",
                        "label": "Text 4",
                        "default": "<p>Text text text. Text text text text.</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "text-5",
                        "label": "Text 5",
                        "default": "<p>Text text text. Text text text text.</p>"
                    }
                ]
            }
        ],
        "presets": [
          {
            "name": "Product specification"
          }
        ]
    }
{% endschema %}  