{{- 'product-explanation.css' | asset_url | stylesheet_tag -}}
{%- liquid
    assign overlay_color = section.settings.overlay_color
    assign overlay_opacity = section.settings.overlay_opacity
-%}
<div class="product_explanation_wrapper">

    <div class="product_explanation_colors">
        <div class="product_explanation_upper" style="background-color: {{ section.settings.background_color_up }}; opacity: {{ section.settings.opacity_up | divided_by: 100.0 }};"></div>
        <div class="product_explanation_lower" style="background-color: {{ section.settings.background_color_down }}; opacity: {{ section.settings.opacity_down | divided_by: 100.0 }};"></div>
    </div>

    {%- if section.settings.image_mob != blank -%}
        <div class="product_explanation_img_mobile">
            {% assign image = section.settings.image_mob %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}
    
    {%- if section.settings.image_desktop != blank -%}
        <div class="product_explanation_img_desktop">
            {% assign image = section.settings.image_desktop %}
            {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
            {%- render 'responsive-image', image: image, sizes: master_width, retina: 1 -%}
        </div>
    {%- endif -%}
    

</div>
{% schema %}
    {
        "name": "Product Explanation",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_mob",
                "label": "Image for Mobile"
            },
            {
                "type": "image_picker",
                "id": "image_desktop",
                "label": "Image for Desktop"
            },
            {
				"type": "color",
				"id": "background_color_up",
				"label": "Upper background color",
				"default": "#6D7E60"
			},
            {
				"type": "color",
				"id": "background__color_down",
				"label": "Lower background color",
				"default": "#FFFFFF"  
			},
			{
                "type": "range",
                "id": "opacity_up",
                "label": "Lower Div Opacity",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 100
			},
            {
                "type": "range",
                "id": "opacity_down",
                "label": "Lower Div Opacity",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 100
			}
        ],
        "presets": [
          {
            "name": "Product Explanation"
          }
        ]
    }
{% endschema %}  