{{- 'title_text_button.css' | asset_url | stylesheet_tag -}}
<div class="title_text_button-wrapper title_position-{{ section.settings.title_position }}">

    {% if section.settings.title %}
    <div class="title_text_button-title-wrapper title_position-{{ section.settings.title_position }}_line-left">
        <div class="vl"></div>
        <div class="title_text_button-title h1 f_light">
            {{ section.settings.title }}
        </div>
    </div>
    {% endif %}

    {% if section.settings.text or section.settings.button_text %}
    <div class="title_text_button-button_text_wrapper {{ section.settings.text_size_text }}">

        {% if section.settings.text %}
        <div class="title_text_button-text">
            {{ section.settings.text }}
        </div>
        {% endif %}

        {% if section.settings.button_text_arrow %}
        <div class="title_text_button-button_wrapper">
            <div class="title_text_button-button button_type3">
                <a href="{{ section.settings.button_link }}">
                    <span>{{ section.settings.button_text }}</span>
                    {% render 'svg-icons' with 'button_arrow' %} 
                </a>
            </div>
        </div>
        {% endif %}

    </div>
    {% endif %}
</div>
{% schema %}
{
    "name": "Title, text and button",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
			"type": "select",
			"id": "title_position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left",
			"label": "Title position"
		},
        {
			"type": "select",
			"id": "text_size_text",
			"options": [
				{
					"value": "h11",
					"label": "Small"
				},
				{
					"value": "h9",
					"label": "Medium"
				},
                {
					"value": "h6",
					"label": "Large"
				}
			],
			"default": "h11",
			"label": "Title position"
		},
        {
            "type": "richtext",
            "id": "text",
            "label": "Text content 1",
            "default": "<p>Text text text. Text text text text.</p>"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "text",
            "id": "button_text_arrow",
            "label": "Button text",
            "default": "Button text"
        }
    ],
    "presets": [
      {
        "name": "Title, text and button"
      }
    ]
}
{% endschema %}    